/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-bg:white;
    --primary-txt-color: #121212;

    --bg-jumbo:#b4d0e7;
    --txt-jumbo:#121212;

    --bg-plan-card-header: white; 
    --txt-card: #181818; 
    
    --txt-link: #4242f2;
    --txt-cta:  #61082b;

    --bg-designit: #f5f5f5;
    --txt-designit: black;

    --bg-accordion:white;
}

header {
    justify-content: space-between;

    position: relative;

    padding: 1.2rem;
    height: 70px;
    width: 100%; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    background-color: var(--primary-bg);
    color: var(--primary-txt-color);
}

footer {
    background-color: #000000;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: .9rem;
    color: var(--txt-link);
}

a:hover {
    text-decoration: underline;
}

/* Texts */

h1 {
    font-size: 4.1rem;
    font-weight: 900;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: .75rem;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .9rem;
    font-weight: 400;
}

/* HEADER */

img#header-logo {
    height: 1.3rem;
    margin-right: 2rem;
}

.header-left {
    align-items: center;

    width: 30vw;
    height: 100%;
}
ul.header-navbar{
      align-items: center;
}

ul.header-navbar li a {
    color: #878787;
}

ul.header-navbar li a:hover {
    text-decoration: underline;
}

ul.header-navbar li a:active {
    color: #6c6c6c;
}

ul.header-navbar > li {
    margin-right: 2rem;
}

.header-right {
    justify-content: flex-end;
    align-items: center;
    width: 35vw;
    height: 100%;
}

/* MENU A TENDINA */
li.nav-multi-menu {
    position: relative;
}

.menu-tendina-underline {
    position: absolute;
    top: calc(100% + 1.5rem); 
    left: 0%;

    background-color: #000000;
    width: 4vw;
    height: 2px;
    z-index: 1;
}

li.nav-why .menu-tendina-why {
    display: none;
}

.nav-why:hover .menu-tendina-why{
    display: inline-block;
}

.menu-tendina-container {
    display: none;
    position: absolute;
    top: calc(100% + 1.5rem + 2px); 
    left: 0%;
    z-index: 2;

    justify-content: space-between;

    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.249);
}

.menu-tendina-column {
    padding: 1.5rem;
    width: 13vw;
}

div.menu-tendina-column ul li{
    padding: .5rem 0;
}

div.menu-tendina-column ul li:hover{
    padding: .5rem 0;
    background-color: #ebebeb;
}

div.menu-tendina-column ul li a:hover{
    text-decoration: none;
}

div.menu-tendina-column hr{
    margin: .5rem 0;
    border: 1px solid rgba(128, 128, 128, 0.249);
}

/* funzioni */

.nav-functions {
    position: relative;
}

.nav-functions:hover .menu-tendina-function{
    display: inline-block;
}

li.nav-functions .menu-tendina-function {
    display: none;
}


/* Supporto */
.nav-support {
    position: relative;
}

.nav-support:hover .menu-tendina-support{
    display: inline-block;
}

li.nav-support .menu-tendina-support {
    display: none;
}

/* Ufficio vendite */
.nav-ufficio-vendite {
    position: relative;
}

li.nav-ufficio-vendite:hover .menu-tendina-contact{
    display: inline-block;
}

li.nav-ufficio-vendite .menu-tendina-contact {
    display: none;
}

/* MAIN */

/* Jumbotron  */

section.jumbotron {
    background-color: var(--bg-jumbo);
    width: 100%;
    color: var(--txt-jumbo);
}

div.container-large h1 {
    padding-top: 4.3rem;
}

div.jumbo-texts p , div.jumbo-texts button{
    margin-bottom: 1.8rem;
}

div.jumbo-texts a {
    color: #000000;
}

div.jumbo-details {
    justify-content: space-between;
    min-width: 900px;

    position: relative;
    top: 60px;
}

div.jumbo-texts {
    width: calc(30% - 20px);
    border:2px #0061ff;
}

div.jumbo-texts i {
    font-size: 3rem;
    padding-top: 2rem;
}

div.jumbo-img-container {
    width: 65%;
}

img.jumbo-img {
    width: 100%;
    
}

/* Pacchetti e prezzi */

div.plans-container {
    justify-content: space-between;
    width: 100%;
} 

section.business-plans input {
    margin: 3.2rem 0;
}

input {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

section.business-plans label {
    position: relative;

    cursor: pointer;

    font-size: .8rem;
    line-height: 1rem;
    margin-right: 3rem;
}


div.plan-card {
    flex-direction: column;
    font-size: .8rem;

    width: calc((100% / 3) - 3.5%);
    border: 1px solid #dedee0;

    background-color: var(--bg-plan-card-header);

    margin-bottom: 2rem;
    color: var(--txt-card);
}

div.big-card {
    width: 100%;
    margin-bottom: 140px;
}

div.product-card-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #dedee0;
}

div.product-card-header i {
    margin-right: .3rem;
}

div.product-card-main {
    padding: 1.5rem 1.8rem 0;
}

div.product-card-main h3 {
    margin-bottom: .9rem;
}

div.product-card-main h4 {
    margin-bottom: .7rem;
}

div.product-card-main p {
    font-weight: 400;
    margin-bottom: 1rem;
}

div.product-card-main ul {
    margin-bottom: 1.6rem;
}

div.product-card-main ul li {
    align-items: flex-start;

    line-height: .8rem;
    margin-bottom: 1.1rem;
}

div.product-card-main ul li i{
    margin-right: .3rem;
}

div.product-card-main button {
    font-size: .8rem;
    margin-bottom: 1.4rem;
}

div.product-card-main a {
    color: blue;
    text-decoration: underline;
    font-size: .8rem;
}

div.product-card-main hr {
    width: 20%;
    margin: 2rem 0;
    border: 1px solid #e9e9ea;
}

div.product-card-main h5 {
   margin-bottom: 1.4rem;
}

div.product-card-main-text {
    width: 70%;
}

div.product-card-main-text h4{
    margin-bottom: 2.5rem;
}

.product-card-main-big {
    justify-content: space-between;

    padding: 1.5rem 1.8rem 1rem;

}

/* Partners*/

section.our-partners {
    width: 100%;

    margin-bottom: 3.5rem;
}

div.our-partners-img-container{
    width: 60%;
}

div.our-partners-img-container img{
    width: 100%;
}

div.our-partners-text {
    padding: 3rem 2rem;
    width: 45%;
}

/* Dropbox business perks */

div.business-cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

section.dropbox-business-perks h2{
    padding-bottom: 2.5rem;
}

div.dropbox-business-card {
    flex-direction: column;

    width: calc((100% / 3) - 3.3%);
    margin-bottom: 2rem;
}

div.dropbox-business-card img{
    padding-bottom: .5rem;
}

div.dropbox-business-teams {
    width: 60%;
    margin-bottom: 3.5rem;
}

div.dropbox-business-teams a{
    text-decoration: underline;
}

a.b-card-link{
    color: black;
    text-decoration: underline;
}

a.b-card-link:hover{
    text-decoration: none;
}

/* Designit */

div.designit-container {
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-designit);
    color: var( --txt-designit);
}

div.logo-square-container{
    flex-wrap: wrap;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

div.info-brands-container {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    position: relative;
}

.info-brands-logo{
    width: 25%;
    margin-bottom: 5%;
}

/* designit block  */
div.designit-info {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15% 4% 4% ;
    overflow: auto;
}

/* Designit animation block  */

.designit-animation {
    animation-name: designit;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes designit {
    0% {opacity: 100%;}
    12.4% {opacity: 100%;}
    12.5% {opacity: 0%;}
    100% {opacity: 0%;}
}

/* Asu animation block */

.asu-animation {
    animation-name: asu;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes asu {
    0% {opacity: 0%;}
    12.4% {opacity: 0%;}
    12.5% {opacity: 100%;}
    24.9% {opacity: 100%;}
    25% {opacity: 0%;}
    100% {opacity: 0%;}
}

/* UF FLORIDA animation */

.uf-animation {
    animation-name: uf;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes uf {
    0% {opacity: 0%;}
    24.9% {opacity: 0%;}
    25% {opacity: 100%;}
    37.4% {opacity: 100%;}
    37.5% {opacity: 0%;}
    100% {opacity: 0%;}
}

/* Topps animation */

.topps-animation {
    animation-name: topps;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes topps {
    0% {opacity: 0%;}
    37.4% {opacity: 0%;}
    37.5% {opacity: 100%;}
    49.9% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 0%;}
}

/* World bicycle relief animation */

.wbr-animation {
    animation-name: wbr;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes wbr {
    0% {opacity: 0%;}
    49.9% {opacity: 0%;}
    50% {opacity: 100%;}
    62.4%{opacity: 100%;}
    62.5%{opacity: 0%;}
    100% {opacity: 0%;}
}

/* hearst animation */

.hearst-animation {
    animation-name: hearst;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hearst {
    0% {opacity: 0%;}
    62.4%{opacity: 0%;}
    62.5%{opacity: 100%;}
    74.9%{opacity: 100%;}
    75%{opacity: 0%;}
    100% {opacity: 0%;}
}

/* Lonely Planet animation */

.lp-animation {
    animation-name: lp;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lp {
    0% {opacity: 0%;}
    74.9%{opacity: 0%;}
    75%{opacity: 100%;}
    87.4%{opacity: 100%;}
    87.5%{opacity: 0%;}
    100% {opacity: 0%;}
}

/* Clear Channel Outdoor animation */

.cco-animation {
    animation-name: cco;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cco {
    0% {opacity: 0%;}
    87.4%{opacity: 0%;}
    87.5%{opacity: 100%;}
    99.9%{opacity: 100%;}
    100% {opacity: 0%;}
}

/* LOADING BAR  */

div.loading-bar {
    height: .3rem;
    width: 100%;
    background-color: #000000;
    animation-name: loading-bar;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading-bar {
    from {width: 0;}
    to {width: 100%;}
  }

  /* COLORED LOGO SQUARE ANIMATION  */

div.logo-square {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

/* Logo designit border animation  */

.logo-designit {
    animation-name: logo-designit;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-designit {
    0% {border: 10px solid rgba(255, 255, 255, 0.527);}
    12.6% {border: 10px solid rgba(255, 255, 255, 0.527);}
    12.7% {border: none;}
    100% {border: none;}
}

/* Logo Asu border animation  */

.logo-asu {
    animation-name: logo-asu;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-asu {
    12.6% {border: none;}
    12.7% {border: 10px solid rgba(255, 255, 255, 0.527);}
    25.1% {border: 10px solid rgba(255, 255, 255, 0.527);}
    25.2% {border: none;}
}

/* UF FLORIDA logo border animation */

.logo-uf {
    animation-name: logo-uf;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-uf {
    25.1% {border: none;}
    25.2% {border: 10px solid rgba(255, 255, 255, 0.527);}
    37.7% {border: 10px solid rgba(255, 255, 255, 0.527);}
    37.8% {border: none;}
}

/* Topps logo border animation */

.logo-topps {
    animation-name: logo-topps;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-topps {
    37.7% {border: none;}
    37.8%{border: 10px solid rgba(255, 255, 255, 0.527);}
    50.1% {border: 10px solid rgba(255, 255, 255, 0.527);}
    50.2% {border: none;}
}

/* World bicycle relief animation */

.logo-wbr {
    animation-name: logo-wbr;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-wbr {
    50.1% {border: none;}
    50.2% {border: 10px solid rgba(255, 255, 255, 0.527);}
    62.7%{border: 10px solid rgba(255, 255, 255, 0.527);}
    62.8%{border: none;}
}

/* hearst animation */

.logo-hearst {
    animation-name: logo-hearst;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-hearst {
    62.7%{border: none;}
    62.8%{border: 10px solid rgba(255, 255, 255, 0.527);}
    75.1%{border: 10px solid rgba(255, 255, 255, 0.527);}
    75.2%{border: none;}
}

/* Lonely Planet animation */

.logo-lp {
    animation-name: logo-lp;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-lp {
    0% {border: none;}
    75.1%{border: none;}
    75.2%{border: 10px solid rgba(255, 255, 255, 0.527);}
    87.6%{border: 10px solid rgba(255, 255, 255, 0.527);}
    87.7%{border: none;}
    100% {border: none;}
}

/* Clear Channel Outdoor animation */

.logo-cco {
    animation-name: logo-cco;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes logo-cco {
    0% {border: none;}
    87.6%{border: none;}
    87.7%{border: 10px solid rgba(255, 255, 255, 0.527);}
    99.9%{border: 10px solid rgba(255, 255, 255, 0.527);}
    100% {border: none;}
}


.logo-square-borders {
    border: 10px solid rgba(255, 255, 255, 0.527);
}

div.logo-square img {
    width: 100%;
    padding: 27%;
    object-fit: contain;
    filter: invert(1);

    transition: all .5s;
}

/* div.logo-square img:hover {
    padding: 30%;
} */

div.logo-square img:active {
    border: 10px solid rgba(255, 255, 255, 0.528);
}

div.designit-info hr{
    width: 20%;
    margin-bottom: 8%;
    border: 1px solid #dadadc;
}

div.designit-info p{
    margin-bottom: 10%;
}

/* cta */

div.designit-info-cta {
    justify-content: center;
    align-items: center;

    padding: 3rem;
    background-color: var(--bg-jumbo);
}

div.designit-info-cta h2{
    width: 55%;
}

.designit-cta-container {
    justify-content: space-between;
    align-items: center;

    padding: 4rem 0;
}

.designit-cta-container h2 {
    width: 50%;
}

.designit-cta-container button {
    padding: .65rem 2.3rem;
}

/* FAQ */

section.faq h2{
    margin-bottom: 2rem;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

div.accordion-container{
    align-items: center ;
    justify-content: space-between;

    height: 3rem;
    transition: all .8s;
}

div.accordion-container p{
    font-size: .9rem;
    margin-top: 0;
    opacity: 0;
    height: 0;
    color: #73818e;

    transition: all 1s;
}

div.accordion-container div p a {
    color: #73818e;
    text-decoration: underline;
}

div.accordion-container:hover{
    cursor: pointer;
    height: 10rem;
 }

 div.accordion-container:hover p{
    margin-top: 2rem;
    opacity: 100%;
    height: 100%;
} 

div.accordion-questions ul li hr {
    margin: 2rem 0 2rem;
}

div.accordion-container:hover i.down {
    display: none;
}

div.accordion-container i.up {
    display: none;
}

div.accordion-container:hover i.up {
    display: inline-block;
}

/* FOOTER */

section.footer-container {
    justify-content: space-between;

    padding: 5.5rem 0 1rem;
}

div.footer-column {
    flex-direction: column;

    width: calc((100% / 5) - 3%);
    /* border: 2px solid white; */
}

div.footer-column h3{
    margin-bottom: 1.5rem;
}

div.footer-column ul li{
    margin-bottom: .8rem;
}

div.footer-column ul li a{
    color: white;
}

div.footer-column ul li a:hover{
    text-decoration: underline;
}


div.footer-column hr{
    width: 60%;
    margin: 5.2rem 0 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

div.footer-language i {
    margin-right: .8rem;
}

div.footer-language ul li span {
    margin-right: .3rem;
}

div.footer-language ul li a {
    flex-direction: row;
    align-items: baseline;
    color: rgba(255, 255, 255, 0.6)
}


/* UTILITIES */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.relative {
    position: relative;
}

.container-large {
    max-width: 1300px;
    margin: 0 auto;
}

.container-small {
    max-width: 1100px;
    margin: 0 auto;
}

.margin-bottom-big {
    margin-bottom: 140px;
}

.padding-bottom-texts {
    padding-bottom: 1rem;
}



/* buttons  */

.button {
    border: none;
    background-color: #0061ff;
    border-radius: 0;
    color: white;
    font-size: .9rem;
    padding: .5rem .9rem;

    transition-duration: .3s;
}

.button-white {
    border: 1px solid black;
    border-radius: 0;
    background-color: white;
    color: black;
    font-size: .9rem;
    padding: .5rem .9rem;

    transition-duration: .3s;
    transition: all; 
}

button.border-none {
    border: none;
}

.button:hover {
    background-color: #357ff8;
    cursor: pointer;
}

.button-white:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.button:active {
    background-color: #044aba;
    text-decoration: underline;
}

.button-white:active {
    background-color: rgb(231, 231, 231);
    text-decoration: underline;
}

/* RADIO BUTTONS  */
/* Customize the label (the container) */
label.radio-button-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 100%;
    margin: 3rem 0;
}

label p {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 1.3rem;
}

/* Hide the browser's default radio button */

.radio-button-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1rem;
    width: 1.1rem;
    background-color: white;
    border: 2px solid #d4d4d7;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio-button-container input:checked ~ .radio-button {
    background-color: white;
    border: 5px solid #005fff;
}

/* Colors */

.bg-color-light-green {
    background-color: #a2d39b;
}

.bg-color-magenta {
    background-color: #61082b;
}

.bg-color-lt-blue {
    background-color: #0093ce;
}

.bg-color-lt-red {
    background-color: #ff1c1c;
}

.bg-color-red {
    background-color:#d5001f;
}

.bg-color-extra-lt-blue {
    background-color: #b4d0e7;
}

.bg-color-dk-blue {
    background-color: #0d2481;
}

.bg-color-gold {
    background-color: #ffd830;
}

.txt-blue{
color:#0061ff
}

.txt-purple {
    color: var(--txt-cta);
}