/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

header {
}

/* Texts */

h1 {}

h2 {}

h3 {}

/* HEADER */

section.header-nav {
    justify-content: space-between;

    padding: 1.2rem;
    height: 70px;
    width: 100%;
    background-color: aqua;  
}

.header-left {
    border: 1px solid blue;
    width: 30vw;
    height: 100%;
}

.header-right {
    border: 1px solid green;
    width: 30vw;
    height: 100%;
}

/* MAIN */

/* FOOTER */

/* UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

/* Colors */