/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: .9rem;
}

/* Texts */

h1 {}

h2 {}

h3 {}

/* HEADER */

section.header-nav {
    justify-content: space-between;

    padding: 1.2rem;
    height: 70px;
    width: 100%; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}

img#header-logo {
    height: 1.3rem;
    margin-right: 2rem;
}

.header-left {
    align-items: center;

    width: 30vw;
    height: 100%;
}
ul.header-navbar{
      align-items: center;
}

ul.header-navbar li a {
    color: #878787;
}

ul.header-navbar > li {
    margin-right: 2rem;
}

.header-right {
    justify-content: flex-end;
    align-items: center;
    width: 30vw;
    height: 100%;
}

/* MAIN */

/* FOOTER */

/* UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.button {
    border: none;
    background-color: #0061ff;
    border-radius: none;
    color: white;
    font-size: .9rem;
    padding: .3rem .9rem;
}

/* Colors */